.HomeFeedEventView {
  display: inline-block;
  font-size: 0.75em;
  color: #55596B;
  letter-spacing: 0.08em;
  background: #F2F2F2;
  cursor: pointer;
  padding: 12px 30px;
  transition: 0.25s ease background;
  width: 92%;
  margin-bottom: 1.5em;
}

.HomeFeedEventView h2 {
  font-size: 1.2em;
}

.HomeFeedEventView.selected {
  background: #5F63D4;
  color: #FFF;
}

.HomeFeedEventView.selected:hover {
  background: #5F63D4;
  box-shadow: none;
  cursor: auto;
}

.HomeFeedEventView:hover {
  background: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
}

.HomeFeedEventView .description {
  display: none;
}

.HomeFeedEventView .dots {
  float: right;
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .HomeFeedEventView .description.selected {
    display: block;
  }

  .HomeFeedEventView.selected:hover {
    cursor: pointer;
  }
}
