.HomeFeedTimelineView {
  display: inline-block;
  width: 6%;
}

.HomeFeedTimelineView .timeline {
  background: #5F63D4;
  background: linear-gradient(#5F63D4, #BF9BD8);
  border-radius: 2px;
  height: 100vh;
  margin: 0;
  margin-left: 6px;
  transform: translateX(-50%);
  width: 3px;
}

.HomeFeedTimelineView .timeline .ball {
  background: #5F63D4;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  margin-left: 2px;
}
