.HomeFeedEventView {
  font-size: 0.8em;
  color: #707D93;
  letter-spacing: 0.08em;
  background: #F2F2F2;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 16px 30px;
  transition: 0.25s ease background;
  width: 100%;
}

.HomeFeedEventView .bold {
  color: #55596B;
}

.HomeFeedEventView.selected {
  background: #E7E7E7;
}

.HomeFeedEventView.selected:hover {
  background: #E7E7E7;
  box-shadow: none;
  cursor: auto;
}

.HomeFeedEventView:hover {
  background: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
}
