.HomeFilterWeekBarDayItem {
  display: inline-block;
}

.HomeFilterWeekBarDayItem .weekday {
  margin-bottom: 4px;
  text-align: center;
  width: 32px;
}

.HomeFilterWeekBarDayItem .circle {
  background: #637cea;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

.HomeFilterWeekBarDayItem .circle .day {
  color: #fff;
  line-height: 32px;
  text-align: center;
}
