.HomeFilterWeekBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.HomeFilterWeekBar .weekdays {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.HomeFilterWeekBar .left-button {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 15px solid #637cea;
}

.HomeFilterWeekBar .right-button {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 15px solid #637cea;
}
