.HomeSidebarCalendarDayItem {
  display: inline-block;
}

.HomeSidebarCalendarDayItem .circle {
  font-size: 0.7em;
  border-radius: 16px;
  border: 4px solid #FFF;
  height: 32px;
  width: 32px;
  color: #C7C7C7;
  background-color: #FAFAFA;
  line-height: 28px;
  text-align: center;
  margin: 0em;
  cursor: pointer;
}

.HomeSidebarCalendarDayItem.focus .circle {
  background-color: #EEEEEE;
  color: #ACB5C6;
}

.HomeSidebarCalendarDayItem.today .circle {
  background-color: #BBB;
  color: #FFF;
}

.HomeSidebarCalendarDayItem.active .circle {
  background-color: #BF9BD8;
  color: #fff;
}

.HomeSidebarCalendarDayItem .circle:hover {
  background-color: #CCCCCC;
  color: #FFF;
}

.HomeSidebarCalendarDayItem.active .circle:hover {
  background-color: #AA7CC9;
}
