.HomeHeaderView {
  margin-bottom: 48px;
}

.HomeHeaderView .logo {
  color: #5f63d4;
  font-size: 1.7em;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
