.HomeHeaderCalendar .calendar {
  display: flex;
  flex-wrap: wrap;
  width: 224px;
}

.HomeHeaderCalendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 224px;
}

.HomeHeaderCalendar .left-button {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 15px solid #D8D8D8;
}

.HomeHeaderCalendar .right-button {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 15px solid #D8D8D8;
}
