.HomeHeaderView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.HomeHeaderView .empty-space {
  width: 24px;
}

.HomeHeaderView .logo {
  color: #5f63d4;
  font-size: 1.7em;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.HomeHeaderView a {
  width: 24px;
}

.HomeHeaderView a img {
  width: 100%;
  vertical-align: middle;
}
