.FrequencyView {
  height: 100%;
}

.FrequencyView .container {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.FrequencyView .container h1 {
  color: #5f63d4;
  margin-bottom: 16px;
  text-align: center;
}

.FrequencyView .container .line {
  display: table;
  margin: 0 auto;
}

.FrequencyView .container p, .FrequencyView .container select {
  display: inline-block;
  vertical-align: top;
}

.FrequencyView .container p {
  margin: 0 12px 4px;
}

.FrequencyView button {
  background: #5f63d4;
  border: 2px solid #5f63d4;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 24px auto 0;
  outline: none;
  padding: 8px 16px;
  transition: 0.25s ease all;
}

.FrequencyView button:hover {
  background: rgba(0, 0, 0, 0);
  color: #5f63d4;
}
