.HomeView .column {
  display: inline-block;
  height: 100vh;
  overflow-y: scroll;
  vertical-align: top;
  transition: 0.5s ease width;
}

.HomeView .left {
  background: #f9f9f9;
  padding: 6%;
  padding-top: 5%;
  width: 66%;
}

.HomeView .left.inactive {
  width: 50%;
}

.HomeView .right {
  background: #FFF;
  padding: 2.5% 4%;
  width: 34%;
}

.HomeView .right.active {
  width: 50%;
}

.HomeView .modal {
  display: none;
}

@media (max-width: 800px) {
  .HomeView .left {
    width: 100% !important;
  }
  .HomeView .modal {
    display: inline-block !important;
  }
  .HomeView .right {
    display: none !important;
  }
}
