.HomeView .column {
  display: inline-block;
  height: 100vh;
  overflow-y: scroll;
  vertical-align: top;
}

.HomeView .left {
  background: #F9F9F9;
  padding: 60px;
  padding-left: 8%;
  padding-right: 8%;
  width: 66%;
}

.HomeView .right {
  background: #FFF;
  padding: 3%;
  width: 34%;
}

@media (max-width: 800px) {
  .HomeView .left {
    width: 100%;
  }
  .HomeView .right {
    display: none;
  }
}
