.PreferencesView .container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 704px;
}

.PreferencesView .container h1 {
  color: #5f63d4;
  margin-bottom: 16px;
  text-align: center;
}

.PreferencesView .category {
  align-items: center;
  border: 2px solid #5f63d4;
  cursor: pointer;
  display: inline-flex;
  margin: 16px;
  padding: 8px 16px;
  width: 320px;
}

.PreferencesView .category input {
  margin-right: 12px;
  width: 24px;
}

.PreferencesView button {
  background: #5f63d4;
  border: 2px solid #5f63d4;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 28px auto 0;
  outline: none;
  padding: 8px 16px;
  transition: 0.25s ease all;
}

.PreferencesView button:hover {
  background: #fff;
  color: #5f63d4;
}
