.AuthStatus p {
    color: #55596B;
    margin-top: 0.8em;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
}

.AuthStatus p strong {
    font-weight: 700;
}